.newsletter-form {
  p {
    margin: 0;
    display: flex;
    justify-content: center;
  }
}

.subscribe {
  .inline-btn-box {
    .input-text-block {
      // @include media-breakpoint-up(sm) {
        flex-direction: column;

        .input-text {
          border-radius: $border-radius-default;
          opacity: $btn-bg-hover-opacity;
        }

        .custom-btn-primary {
          margin-top: 10px;
          height: 42px;
          border-left: $border-default-btn !important;
          border-radius: $border-radius-default !important;
          .btn-text{
            font-size: $font-size-huge;
          }
        p {
          text-align: center;
        }
          @include media-breakpoint-down(sm) {
            .btn-text{
              font-size: $font-size-medium;
            }
          }
        }
      // }
    }
  }
}
