.under-cons-box {
    position:absolute;
    top: 50%;                         /* 3 */
    transform: translate(0, -50%);
    margin-right: auto;
    margin-left: auto;
    padding-left: 6%;
    padding-right: 6%; 
      img {
          width: 28rem;
          margin:auto;
      }
  }

  