.under-cons-box {
    position:absolute;
    top: 50%;                         /* 3 */
    transform: translate(0, -50%);
    margin-right: auto;
    margin-left: auto;
    padding-left: 36px;
    padding-right: 36px; 
      img {
          width: 30rem;
          margin:0 auto 1rem auto;
          display: flex;
          align-items: center;
      }
      h1{
        margin:0 auto 1rem auto;
        line-height: 1!important;
        color: $font-color-text-dark-gray !important;
      }
      @include media-breakpoint-down(sm) {
        padding-left: 6%;
        padding-right: 6%; 
        // h1{
        //   font-size: $font-size-heading-large!important;
        // }
      }

  }

  